<div  [ngStyle]="{background: 'url(../../assets/image/backgroud-fluid.jpg)'}" class="container-fluid ">
    <div style="padding-top: 10px;" class="container">
         <div class="ultimate-post-kit-container">
        <div class="ultimate-post-kit">
            	<div class="upk-hazel-grid">
		<div class="upk-post-grid upk-pg-text-position-bottom-left upk-post-grid-style-3 upk-blog-content-style-2">
			<div class="upk-post-grid-item">
				<div class="upk-post-grid-item-box">
					<img alt="Travel Long Journey with Family in This winter season" class="upk-blog-image" src="../../assets/image/cod.jpg">
					<div class="upk-blog-box-content">
						<div class="upk-cetagory">
							<div class="upk-blog-badge">
								<span><a href="#" rel="category tag">Travel</a></span>
							</div>
						</div>
						<div class="upk-blog-title-wrapper">
							<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="#" title="Travel Long Journey with Family in This winter season">Travel Long Journey with Family in This winter season</a></h2>
						</div>
						<div class="upk-blog-post-meta">
							<div class="upk-blog-author">
								<span class="by">by</span> <span class="upk-post-grid-author"><a href="#">Alexandra Alison</a></span>
							</div>
							<div class="upk-blog-date">
								<i aria-hidden="true" class="upk-icon-calendar"></i>March 21, 2021
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="upk-post-grid-item">
				<div class="upk-post-grid-item-box">
					<img alt="Everything You Need To Know About Living Off The Land" class="upk-blog-image" src="../../assets/image/red.jpg">
					<div class="upk-blog-box-content">
						<div class="upk-cetagory">
							<div class="upk-blog-badge">
								<span><a href="#" rel="category tag">Travel</a> <a href="#" rel="category tag">Tour</a></span>
							</div>
						</div>
						<div class="upk-blog-title-wrapper">
							<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="#" title="Everything You Need To Know About Living Off The Land">Everything You Need To Know About Living Off The Land</a></h2>
						</div>
						<div class="upk-blog-post-meta">
							<div class="upk-blog-author">
								<span class="by">by</span> <span class="upk-post-grid-author"><a href="#">Bella Angel</a></span>
							</div>
							<div class="upk-blog-date">
								<i aria-hidden="true" class="upk-icon-calendar"></i>March 21, 2021
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="upk-post-grid-item">
				<div class="upk-post-grid-item-box">
					<img alt="Business women having a brainstor meeting and build real customer" class="upk-blog-image" src="../../assets/image/gta.jpg">
					<div class="upk-blog-box-content">
						<div class="upk-cetagory">
							<div class="upk-blog-badge">
								<span><a href="#" rel="category tag">Corporate</a></span>
							</div>
						</div>
						<div class="upk-blog-title-wrapper">
							<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="#" title="Business women having a brainstor meeting and build real customer">Business women having a brainstor meeting and build real customer</a></h2>
						</div>
						<div class="upk-blog-post-meta">
							<div class="upk-blog-author">
								<span class="by">by</span> <span class="upk-post-grid-author"><a href="#">Chloe Claire</a></span>
							</div>
							<div class="upk-blog-date">
								<i aria-hidden="true" class="upk-icon-calendar"></i>March 21, 2021
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="upk-post-grid-item">
				<div class="upk-post-grid-item-box">
					<img alt="Three Business women working together with requirements for business" class="upk-blog-image" src="../../assets/image/cod.jpg">
					<div class="upk-blog-box-content">
						<div class="upk-cetagory">
							<div class="upk-blog-badge">
								<span><a href="#" rel="category tag">Business</a></span>
							</div>
						</div>
						<div class="upk-blog-title-wrapper">
							<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="#" title="Three Business women working together with requirements for business">Three Business women working together with requirements for business</a></h2>
						</div>
						<div class="upk-blog-post-meta">
							<div class="upk-blog-author">
								<span class="by">by</span> <span class="upk-post-grid-author"><a href="#">Sonia Khan</a></span>
							</div>
							<div class="upk-blog-date">
								<i aria-hidden="true" class="upk-icon-calendar"></i>March 21, 2021
							</div>
						</div>
					</div>
				</div>
			</div>
      <div class="upk-post-grid-item">
				<div class="upk-post-grid-item-box">
					<img alt="Business women having a brainstor meeting and build real customer" class="upk-blog-image" src="../../assets/image/cod.jpg">
					<div class="upk-blog-box-content">
						<div class="upk-cetagory">
							<div class="upk-blog-badge">
								<span><a href="#" rel="category tag">Corporate</a></span>
							</div>
						</div>
						<div class="upk-blog-title-wrapper">
							<h2 class="upk-blog-title-wrap"><a class="upk-blog-title" href="#" title="Business women having a brainstor meeting and build real customer">Business women having a brainstor meeting and build real customer</a></h2>
						</div>
						<div class="upk-blog-post-meta">
							<div class="upk-blog-author">
								<span class="by">by</span> <span class="upk-post-grid-author"><a href="#">Chloe Claire</a></span>
							</div>
							<div class="upk-blog-date">
								<i aria-hidden="true" class="upk-icon-calendar"></i>March 21, 2021
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
      </div>
  </div>
</div>
<div class="container">

  <div class="main">
    <div style="float: left" class="col-md-8 phone-main-left">
      <div class="item card card-phone">
        <div>
          <div class="row g-0">
            <div class="col-md-4 card-img-phone">
              <img src="../../assets/image/cod.jpg" style="width: 285px;height: 152px;" alt="...">
            </div>
            <div class="col-md-8 card-body-phone">
              <div class="card-body ">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="item card card-phone" *ngFor="let data of data">
        <div>
          <div class="row g-0">
            <div class="col-md-4 card-img-phone">
              <img src="{{data.urlToImage}}" height="152px" width="285px" alt="...">
            </div>
            <div class="col-md-8 card-body-phone">
              <div class="card-body ">
                <h5 class="card-title"><a href="#">{{data.title}}</a></h5>
                <p class="card-text">{{data.description}}</p>
                <p class="card-text"><small class="text-muted">By :{{data.author}}</small></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 main-left phone-main-right">

      <div class="item-left card">
        <div class="twelve">
          <h1>អត្តបទពេញនិយម</h1>
        </div>
        <div class="item-left-list">
          <img src="../../assets/image/cod.jpg" width="292px" height="152px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="item-left-list">
          <img src="../../assets/image/cod.jpg" width="292px" height="152px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="item-left-list">
          <img src="../../assets/image/cod.jpg" width="292px" height="152px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="item-left-list">
          <img src="../../assets/image/cod.jpg" width="292px" height="152px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
        <div class="item-left-list">
          <img src="../../assets/image/cod.jpg" width="292px" height="152px" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<div style="float: left;" class="container-fluid">
<section class="contact-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="contact-content text-center">
                        <a href="#"><img src="../assets/logo/ataxbot_logo.png" alt="logo"></a>
                        <p>We PLAY WE SHARE | យើងលេង យើងចែករំលែក</p>
                        <div class="hr"></div>
                        <div class="contact-social">
                            <ul>
                                <li><a class="hover-target" href=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fa fa-linkedin"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fa fa-github"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fa fa-behance"></i></a></li>
                                <li><a class="hover-target" href=""><i class="fa fa-pinterest"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- =============== 1.9 Contact Area End ====================-->
    <!-- =============== 1.9 Footer Area Start ====================-->
    <footer>
        <p>Copyright &copy; 2021 ATAXBOT Team. All Rights Reserved.</p>
    </footer>
</div>


